.frontWall {
  height: 90vh;
  /* background-color: black; */
  position: relative;
  text-align: center;
  display: flexbox;
}

.frontWall-content {
  padding-top: 5vh;
  position: absolute;
  margin: auto;
  /* width: 40%; */
  /* bottom: 0; */
  left: 0;
  right: 0;
}

.frontWall img {
  width: 35%;
  transition: all 0.5s ease;
}
.frontWall img:hover {
  transition: all 0.5s ease;
  transform: scale(1.1);
} 
.frontWall h1 {
  font-size: 3vw;
  /* letter-spacing: 0.2rem; */
  width: auto;
  transition: all 0.5s ease;
}

.frontWall h2 {
  font-weight: normal;
  font-size: 1.5vw;
}

@media only screen and (max-width: 600px) {
  .frontWall {
    height: 55vh;
  }
  .frontWall img {
    width: 50%;
    transition: all 0.5s ease;
  }
  .frontWall-content {
    padding-top: 15vh;
    position: absolute;
    margin: auto;
    /* width: 40%; */
    /* bottom: 0; */
    left: 0;
    right: 0;
  }
  .frontWall h1 {
    font-size: 5vw;
    /* letter-spacing: 0.2rem; */
    width: auto;
    transition: all 0.5s ease;
  }

  .frontWall h2 {
    font-weight: normal;
    padding-inline: 5px;
    font-size: 4vw;
  }
}

@media only screen and (max-width: 800px) {
  .frontWall {
    height: 25vh;
    /* background-color: black; */
  }
}

@media only screen and (max-width: 1500px) {
  .frontWall {
    height: 65vh;
    /* background-color: black; */
  }
}
