.resume {
  display: flex;
  padding-inline: 15vw;
  padding-bottom: 5vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.resume h1 {
  font-size: 3vw;
}
.resume img {
  width: 20vw;
  transition: all 0.5s ease;
}
.resume img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
